In [16]:
import pandas as pd

bs_location = pd.read_csv("C:\\Users\\SAMSUNG\\Downloads\\2023년_전국버스정류장 위치정보_데이터.csv", encoding ="cp949")
bs_location.head()

,정류장번호,정류장명,위도,경도,정보수집일,모바일단축번호,도시코드,도시명,관리도시명
0,ADB354000076,신덕1리,36.524325,128.830926,2023-10-16,540076.0,37040,경상북도 안동시,안동
1,ADB354000077,나천,36.484444,128.876390,2023-10-16,540077.0,37040,경상북도 안동시,안동
2,ADB354000078,골삽실,36.462248,128.887606,2023-10-16,540078.0,37040,경상북도 안동시,안동
3,ADB354000079,금곡(길안),36.394360,128.933281,2023-10-16,540079.0,37040,경상북도 안동시,안동
4,ADB354000080,대사.토일,36.368580,128.940353,2023-10-16,540080.0,37040,경상북도 안동시,안동

In [24]:
bs_location

,정류장번호,정류장명,위도,경도,정보수집일,모바일단축번호,도시코드,도시명,관리도시명
0,ADB354000076,신덕1리,36.524325,128.830926,2023-10-16,540076.0,37040,경상북도 안동시,안동
1,ADB354000077,나천,36.484444,128.876390,2023-10-16,540077.0,37040,경상북도 안동시,안동
2,ADB354000078,골삽실,36.462248,128.887606,2023-10-16,540078.0,37040,경상북도 안동시,안동
3,ADB354000079,금곡(길안),36.394360,128.933281,2023-10-16,540079.0,37040,경상북도 안동시,안동
4,ADB354000080,대사.토일,36.368580,128.940353,2023-10-16,540080.0,37040,경상북도 안동시,안동
...,...,...,...,...,...,...,...,...,...
204204,USB196066514,새진흥아파트,35.540264,129.106553,2023-10-16,66514.0,26,울산광역시,울산
204205,USB196066515,부일맨션,35.539081,129.104984,2023-10-16,66515.0,26,울산광역시,울산
204206,USB196066516,부일맨션,35.539203,129.104913,2023-10-16,66516.0,26,울산광역시,울산
204207,USB196066601,석남유치원,35.562269,129.116000,2023-10-16,66601.0,26,울산광역시,울산
204208,USB196066603,부산은행,35.557706,129.118750,2023-10-16,66603.0,26,울산광역시,울산

In [18]:
bs_location.isna().sum()

정류장번호          0
정류장명           2
위도             2
경도             2
정보수집일          0
모바일단축번호    16859
도시코드           0
도시명            0
관리도시명          0
dtype: int64

In [19]:
bs_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204209 entries, 0 to 204208
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   정류장번호    204209 non-null  object
 1   정류장명     204207 non-null  object
 2   위도       204207 non-null  float64
 3   경도       204207 non-null  float64
 4   정보수집일    204209 non-null  object
 5   모바일단축번호  187350 non-null  float64
 6   도시코드     204209 non-null  int64
 7   도시명      204209 non-null  object
 8   관리도시명    204209 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 14.0+ MB

In [25]:
bs_location=bs_location.dropna()

In [47]:
bs_location['도시명'].unique()

array(['경상북도 안동시', '경상북도 예천군', '충청남도 아산시', '충청북도 보은군', '부산광역시',
       '경상남도 창원시', '충청남도 천안시', '강원특별자치도 춘천시', '충청북도 충주시', '대구광역시',
       '경상북도 칠곡군', '충청북도 청주시', '대전광역시', '경상북도 김천시', '경상남도 거제시',
       '경상남도 김해시', '경상북도 구미시', '광주광역시', '전라북도 군산시', '충청남도 공주시', '서울특별시',
       '인천광역시', '경기도 수원시', '경기도 광주시', '울산광역시', '전라남도 광양시', '경기도 평택시',
       '경기도 고양시', '경기도 동두천시', '경기도 안산시', '경기도 성남시', '경기도 부천시', '경기도 의정부시',
       '경기도 안양시', '경기도 광명시', '경기도 군포시', '경기도 의왕시', '경기도 하남시', '경기도 용인시',
       '경기도 파주시', '경기도 구리시', '경기도 과천시', '경기도 남양주시', '경기도 시흥시', '경기도 오산시',
       '경기도 화성시', '경기도 양주시', '경기도 이천시', '경기도 김포시', '경기도 안성시', '경기도 양평군',
       '강원특별자치도 영월군', '강원특별자치도 평창군', '강원특별자치도 정선군', '강원특별자치도 철원군',
       '강원특별자치도 인제군', '경상남도 고성군', '강원특별자치도 양양군', '충청북도 제천시', '충청북도 청원군',
       '충청북도 옥천군', '전라북도 정읍시', '전라남도 장성군', '충청남도 당진시', '충청남도 서산시',
       '충청남도 홍성군', '충청남도 보령시', '충청북도 영동군', '경상북도 경주시', '경상북도 영주시',
       '경기도 포천시', '전라북도 남원시', '충청남도 논산시', '전라북도 익산시', '전라북도 완주군',
       '전라북도 전주시', '전라북도 김제시', '경상북도 경산시', '경상북도 영천시', '경상남도 양산시',
       '충청남도 서천군', '전라북도 부안군', '전라북도 고창군', '전라남도 영광군', '전라남도 함평군',
       '전라남도 무안군', '강원특별자치도 원주시', '강원특별자치도 횡성군', '강원특별자치도 강릉시',
       '강원특별자치도 홍천군', '충청북도 단양군', '경기도 연천군', '경상북도 상주시', '대구광역시 군위군',
       '전라남도 진도군', '경상북도 봉화군', '강원특별자치도 삼척시', '강원특별자치도 동해시', '충청남도 예산군',
       '충청북도 진천군', '경상남도 진주시', '경상북도 문경시', '충청북도 괴산군', '충청북도 음성군',
       '충청남도 금산군', '전라북도 무주군', '전라북도 장수군', '경상남도 함양군', '전라북도 진안군',
       '경상북도 포항시', '경상남도 거창군', '경상남도 합천군', '경상북도 고령군', '경상남도 산청군',
       '경상남도 사천시', '경상남도 하동군', '전라남도 순천시', '경기도 여주시', '전라북도 임실군',
       '전라남도 구례군', '충청남도 청양군', '충청남도 부여군', '경상북도 성주군', '경상남도 밀양시',
       '경상북도 청도군', '경상남도 통영시', '경기도 가평군', '경상남도 마산시', '경상남도 함안군',
       '경상남도 창녕군', '경상북도 의성군', '전라북도 순창군', '전라남도 여수시', '강원특별자치도 속초시',
       '충청북도 증평군', '충청남도 연기군', '전라남도 목포시', '전라남도 나주시', '전라남도 담양군',
       '전라남도 고흥군', '전라남도 강진군', '전라남도 해남군', '전라남도 영암군', '전라남도 완도군',
       '경상북도 청송군', '경상북도 영덕군', '경상북도 영양군', '경상북도 울진군', '경상남도 진해시',
       '경상남도 의령군', '경상남도 남해군', '강원특별자치도 태백시', '충청남도 계룡시', '세종특별자치시',
       '강원특별자치도 양구군', '전라남도 신안군', '전라남도 장흥군', '경상북도 울릉군'], dtype=object)

In [48]:
bs_location.isna().sum()

정류장번호      0
정류장명       0
위도         0
경도         0
정보수집일      0
모바일단축번호    0
도시코드       0
도시명        0
관리도시명      0
dtype: int64

In [49]:
city_counts = bs_location.groupby('도시명').size()
print(city_counts)

도시명
강원특별자치도 강릉시      40
강원특별자치도 동해시     393
강원특별자치도 삼척시     147
강원특별자치도 속초시     215
강원특별자치도 양구군     216
               ...
충청북도 증평군          4
충청북도 진천군        659
충청북도 청원군         28
충청북도 청주시       3225
충청북도 충주시       1993
Length: 158, dtype: int64

In [50]:
df_sorted = city_counts.sort_values(ascending=False)
print(df_sorted)

도시명
인천광역시       8954
부산광역시       4386
대구광역시       4168
서울특별시       3970
울산광역시       3822
            ...
충청남도 금산군       4
충청남도 청양군       2
전라남도 강진군       2
경상남도 진해시       1
전라남도 담양군       1
Length: 158, dtype: int64

In [53]:
print(df_sorted.head(5),'\n')
print(df_sorted.tail(5))

도시명
인천광역시    8954
부산광역시    4386
대구광역시    4168
서울특별시    3970
울산광역시    3822
dtype: int64

도시명
충청남도 금산군    4
충청남도 청양군    2
전라남도 강진군    2
경상남도 진해시    1
전라남도 담양군    1
dtype: int64

In [43]:
df_sorted.tail()

관리도시명
보은    1049
옥천    1001
밀양     929
사천     856
계룡     258
dtype: int64

In [62]:
print("====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================")

====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================